{% extends 'parties/base.html' %}
{% load crispy_forms_filters %}
{% block title %}mot de passe oublie{% endblock %}

{% block contenu %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h4 class="h-md-250 offset-md-3">Password Reset Page</h4>
                    <hr>
                    <div class="alert alert-info">
                        Enter Email end a mail will be sent with instructions to reset password
                    </div>
                    {% for message in messages %}
                        {% if message %}
                        <div class="alert alert-primary{{message.tag}}">
                            {{message}}
                        </div>
                        {% endif%}
                    {% endfor%}
                    <form  method="post">
                        {%csrf_token%}
                        {{form|crispy}}
                        <input type="submit" value="Reset Password" class="btn btn-primary btn-block">
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}