{% extends 'parties/base.html' %}
{% block title %}mot de passe oublie confirmer{% endblock %}

{% block contenu %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-5 offset-md-6">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h3 class="h-md-250 offset-md-3">mot de passe oublie confirmer</h3>
                    {% for message in messages %}
                        {% if message %}
                        <div class="alert alert-primary{{message.tag}}">
                            {{message}}
                        </div>
                        {% endif%}
                    {% endfor%}
                    <form  method="post">
                        {%csrf_token%}
                        {{form}}
                        <input type="submit" value="confirmer le mot de passe" class="btn btn-primary btn-block">
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}