{% extends 'parties/base.html' %}
{% block title %}password reset complet {% endblock %}

{% block contenu %}
<br>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-3">
                    <h3>password reset complet à la page</h3>
                    <hr>
                    <div class="alert alert-success">
                        <h4>maintenant vous pouvez vous connecté avec votre nouveau mot de passe</h4>
                    </div>
                    <a href="{% url 'login' %}">login</a>
                </div>
            </div>

        </div>
    </div>
{%endblock%}