{% extends 'parties/base.html' %}
{% load crispy_forms_filters %}
{% block title %} Register {% endblock %}

{% block contenu %}
<div class="Register">
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-5 offset-md-7">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h3 class="h-md-250 offset-md-4">Register</h3>
                    <form  method="post">
                        {% csrf_token  %}
                        {{ form|crispy }}
                        <input type="submit" value="Register" class="btn btn-primary btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock%}